<odoo>
    <data>

        <menuitem id="menu_hospital_root"
                  name="HMS"
                  sequence = "6"/>

        <menuitem id="menu_frontdesk"
                  name = "Front Desk"
                  parent = "menu_hospital_root"/>

        <menuitem id="menu_patients"
                  name = "Patients"
                  parent = "menu_frontdesk"
                  action = "patient_action"/>

         <menuitem id="menu_patients_read_only"
                  name = "View Patients"
                  parent = "menu_frontdesk"
                  action = "patient_readonly_action"/>


    </data>
</odoo>